@import url("variables.css");

/* Center entire page content */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* stack items vertically */
    align-items: center;     /* horizontal center */
    justify-content: center; /* vertical center */
}

.formulario {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    box-shadow: 0 11px 9.78px 2px rgba(0, 0, 0, 0.2);
    width: 1050px;
    height: auto;
    border-radius: 35px;
    margin: 0 auto; /* ensure horizontal centering when body flex is not applied */
}

a {
    color: var(--cor-azul);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-align: center;
    padding: 20px;

    & input, select {
        border: 2px solid var(--cor-verde);
        border-radius: 32px;
        padding: 10px 10px 10px 16px;
    }

    & button {
        background-color: var(--cor-verde);
        border: none;
        border-radius: 35px;
        width: 172px;
        height: 51px;
        color: var(--cor-branco);
    }

    .inputs {
        display: inherit;
        flex-direction: column;
        gap: 10px;
    }
}