@import url("variables.css");

body {
    display: flex;
    justify-content: center;
}

a {
    color: var(--cor-azul);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;

    & input, select {
        border: 2px solid var(--cor-verde);
        border-radius: 32px;
        padding: 10px 10px 10px 16px;
    }
}