a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--cor-azul) 2px solid;
    padding: 10px 64px;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
    font-family: var(--fonte-lato);
}

.logo, .navegacao {
    display: flex;
    align-items: center;
    gap: 24px;
}

.botao-entrar {
    padding: 14.5px 56.5px /*0.5rem 1rem*/;
    border: var(--cor-azul) 1px solid;
    border-radius: 35px;
    color: var(--cor-azul);
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-family: var(--fonte-mont);
}